<% @learning_dictionary.each do |learning_dictionary| %>
<div class='card'>
<div class='container'>
    <h1><%= learning_dictionary.title %></h1>
    <p><%= learning_dictionary.content %></p>
    </div>
</div>
<% end %>



